body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  width: 100%;
  height: 50px;
  background-color: #140f07;
  display: flex;
  justify-content: space-between;

}
.home{
  width: 27%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home a{
  color: white;
  text-decoration: none;
}
.nav-links{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #140f07;
}
.nav-links a{
  text-decoration: none;
  color: white;
}
.home a:hover,.nav-links a:hover{
  color: #9d4848;
}
.maincontainer{
display: flex;
justify-content: space-evenly;
}
.newscontainer{
  height: 670px;


  width: 730px;

}
.NewsCarousel{
  height:780px;
  width: 60px;

position: relative;
right:20px;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}
.news-btn{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20px;


}
.news-btn button{

  background-color: white;
width: 60px;
height: 50px;
  border: none;
  color: rgb(157, 72, 72);
 
}
.news-btn :nth-child(1){
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
margin-bottom: 30px;
padding: 0;

}
.news-btn :nth-child(2){

 padding: 0;
}
.news-btn button:hover{
cursor: grab;
}
.newsimage{
  margin-right: 20px;
}
.outlook{
  margin-left: 50px;
  color: rgb(157, 72, 72);
}
.loadingNews{

  height: 250px;
  width: 250px;
  margin-left: 200px;
  margin-top: 150px;
}
.newsIMG{
  height: 120px;
  width: 120px;
  border-radius: 35px;
  margin-top: 25px;
}
.newslink{
  text-decoration: none;
}
.feed :nth-child(2){
  font-size: 12px;
}
.newsItem{
  margin-right: 50px;
  box-shadow:
  0px 36px 80px rgba(0, 0, 0, 0.09)
;
  border: 1px solid lightslategray;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 25px;

}


.loading{
  margin-left: 500px;
  margin-top:230px;

  width: 400px;
  height: 400px;
  
  
}
.sorry{
  margin-left: 230px;


  width: 1000px;
  height: 1000px;
  
}
.header{

  display: flex;

  height: 120px;
  justify-content: space-between;
  align-items: center;
  width:80%;
  margin-left: 80px;

  margin-left: 150px;
}
.links{
  text-decoration: none;
}
.header h1{
  color: rgb(157, 72, 72);
  font-size: 50px;
}
.logo {

  height: 80px;
  width: 80px;
  background-image: url(../src/assets/zerodha.png);
  background-position: center;
  background-size: contain;
}
.pannel{
  display: flex;
}
.pannel p{
color: black;
margin: 3px;
font-size:20px;
text-decoration: none;

}
.searchbar{
  margin-left: 25px;

  width: 500px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;


  display: flex;
  flex-direction: column;
  align-items: center;

}
.searchbar input{
  padding: 0 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  height: 30px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 15px;

}
.buttons{
  
width: 88%;

display: flex;
justify-content: space-between;

}
.buttons button{
margin: 0 42px 10px 0;
  font-weight: bolder;
  padding: 5px 10px;
background-color: whitesmoke;
font-size: 15px;
  border: 1px solid rgb(157, 72, 72);
  border-radius: 8px;
  color: rgb(157, 72, 72);
  font-family: 'Fira Sans', sans-serif;
}
.buttons button:hover{
  background-color:rgb(157, 72, 72);
  color:  white;
  border: 1px solid rgb(157, 72, 72);
}

.listcontainer{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow:
  0px 1.6px 8.7px rgba(0, 0, 0, 0.111),
  0px 4.5px 19.5px rgba(0, 0, 0, 0.16),
  0px 10.9px 35px rgba(0, 0, 0, 0.209),
  0px 36px 80px rgba(0, 0, 0, 0.32)
;
  width: 500px;
  height: 500px;

  margin-left: 30px;
}
.heading{
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 23px;
  color: rgb(157, 72, 72);

  height: 40px;
}
.heading p{
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.ul li{
  font-size: 17px;
  border-radius: 5px;
  list-style: none;
  margin: 5px;
  background-color: whitesmoke;
  width: 95%;
  padding: 0 10px 0 10px;


  
}
.Item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.Item :nth-child(1){width: 180px;}
.Item :nth-child(2){width: 180px;}
.Item :nth-child(3){width: 120px;}
.pageList{
  display: flex;
  justify-content: center;

  width: 600px;

position: relative;
right: 15px;
}
.page-btn{
  padding: 10px 10px;
  background-color: white;
  border: 2px solid rgb(157, 72, 72);
  color: rgb(157, 72, 72);
  font-size: large;
  font-weight:700;
  margin: 0px 1px;
  border-radius: 25px;
}
.page-btn2{
  padding: 10px 10px;
  background-color: white;
  border: 2px solid rgb(157, 72, 72);
  color: rgb(157, 72, 72);
  font-size: large;
  font-weight:700;
  margin: 0px 1px;
  border-radius: 25px;
  margin-left: 0px;
}
.page-btn2:hover{
  background-color: rgb(157, 72, 72);
  color: white;
  border: 1px solid rgb(157, 72, 72);
}


.page-btn:hover{
  background-color: rgb(157, 72, 72);
  color: white;
  border: 1px solid rgb(157, 72, 72);
}
.pageList{
  width: 470px;
  padding: 0;
  margin-left: 60px;
}
.pageList li{
  list-style: none;

  display: flex;
  align-items:  center;
  justify-content: center;
}

.pageList  button{
  background-color: white;
  color: rgb(157, 72, 72);
  font-weight: bold;
  width: 48px;
  height: 40px;
cursor: grab;
  border-radius: 20px;
  border: 1px solid rgb(157, 72, 72);
}
.pageList button:hover{
  background-color: rgb(157, 72, 72);
  color: white;
}


.symbol{
  width: 33%;
}
.ltp{
  width: 33%;
}
.change{
  width: 33%;
  display: flex;
  justify-content: center;
}
.red{
  color: red;

}
.green{
  color: green;
}
.listcontainer h2{
  color: gray;
  position: relative;
  top: 150px;
  left: 150px;
  font-weight: 500;
  font-size: 25px;
}
.footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:#140f07;
  min-height: fit-content;
  flex-direction: column;
  margin-top: 100px;

}
.icons{
  display: flex;
  justify-content: center;
}
.links{
  display: flex;
  justify-content: center;
}
.footer-icons{
  color: #9d4848;
  margin-left: 100px;
  margin: 30px;
  
}
.footer-icons:hover{
  color: white;
}
.footer-links{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(157, 72, 72);
}
.footer-links:hover{
  color: white
}
.copyright{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Start-btn{display: none;}
@media only screen and (max-width: 392px){
  .loading{
    margin: 0;
    margin-top: 100px;
    margin-left: 30px;
    height: 300px;
    width: 300px;
  }
  .sorry{
    margin: 0;
    margin-top: 100px;
  margin-left: 30px;
    height: 300px;
    width: 300px;
  }
  
.tryAgainplayer{
  height: 250px;
  width: 250px;

}

  .header{
    margin-left: 5px;

    width: 390px;
    justify-content: space-around;
  }
  .header h1{
    margin-left: 5px;
    font-size: 35px;
    position: relative;
    right: 38px;
  }
  .pannel{
    display: none;
  }
  .navbar{
    width: 390px;
    height: 50px;
  }
  .home{
    width: 100px;
  }
  .nav-links{
    width: 200px;

  }
  .home a,.nav-links a{
    font-size: 13px;
    text-decoration: none;
  }
.maincontainer{
  display: flex;
  flex-direction: column;
}
.container{

  width: 390px;
}
.searchbar{
  width: 350px;
  border: none;
}
.searchbar input{
  width: 70%;
}
.buttons{
  width: 80%;
  margin-left: 0px;
}
.buttons button{
  font-size: 10px;
  margin: 3px 4px;
  width: 70px;
}
.listcontainer{
  width: 280px;
margin:  20px 55px;
height: 415px;
padding: 5px 5px;

}
.heading p{
  font-size: 15px;
}
.ul li{
  width: 90%;
}
.Item p{
  font-size: 13px;
}
.pageList{
  width: 330px;
  margin: 0px;
  margin-left: 50px;
}
.pageList button{
  height: 25px;
  width: 25px;
  padding: 0 5px;
}.page-btn,.page-btn2{
  height: 20px;
  width: 30px;
  font-size: 13px;
  padding: 5px 5px;
}
.loadingNews{
  margin-left: 40px;
}
.newsbox{
  display: flex;
  flex-direction: column;
}
.newscontainer{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  margin: 0px;
  padding: 0;
  margin-left: 5px;
  border: none;

}
.outlook{
  position: relative;
  left: 33px;
}
.newsItem{
  width: 150px;
  height: 100px;
  overflow: hidden;
}
.news-btn{
  flex-direction: row;
}
.newsItem{
  width: 350px;
  height: 30%;
  flex-direction: row;
  padding: 10px 10px;
}
.newsIMG{
  height: 60px ;
  width:60px;
}
.feed h3{
  font-size: 13px;
}

.Content{
  font-size: 8px;
}
.NewsCarousel{
  flex-direction: column;


  height: 60px;
  width: 385px;
  position: relative;
  bottom: 485px;

}
.news-btn{
  margin-left: 50px;
}
.news-btn .button{
  height: 30px;
  width: 30px;
  padding: 0px;

}
.prev{
transform: rotate(270deg);
margin-left: 15px;

}
.next{
  transform: rotate(270deg);
  position: relative;
  right:18px;
}
.news-btn :nth-child(2){
  margin-top: 0px;
  margin-left: 280px;
}
.listcontainer h2{
  color: gray;
  position: relative;
  top: 150px;
  left: 50px;
  font-weight: 500;
  font-size: 25px;
}
.Start-btn {
  display: inline-block;}
  .Start-btn button{
    padding: 15px 20px;
    margin-left: 130px;
    font-size: larger;
    font-weight: bold;
      border-radius: 20px;
      font-family: 'Fira Sans', sans-serif;
      border: none;
      color: white;
      background-image: linear-gradient(to right, #9d4848, #713855, #3d2e4b, #17202e, #060809);
  }
  .Start-btn button:hover{
    border: 1px solid #17202e;
    color: #713855;
    background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  }
  .shift{
    margin-left: 135px;
    font-size: 16px;
  }
.info-Shift{
  margin-left: 35px;
  font-size: 16px;
}

.footer{
  margin-top: 100px;
  width: 394px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;


}
.icons{
  display: flex;
  flex-direction: column;

}
.links{
  display: flex;
  flex-direction: column;
justify-content: space-between;


}
.icons a,.links a,.copyright a{
  font-family: 'Fira Sans', sans-serif;
}
}